---
menukey: help
header_text: Help
---

<%content_for :subnav do%>
<%=partial 'dashboard-navigation'%>
<%end%>

<div class="faq-content">
    <div class="row-fluid">
        <div class="span9">

                <h2>Popular Topics</h2>
                <ol style="margin-bottom: 2em;">
                    <li><a href="#">What if I have a question?</a></li>
                    <li><a href="#">Where can I get support?</a></li>
                    <li><a href="#">How long does it take to fix a problem?</a></li>
                    <li><a href="#">Who can help me out?</a></li>
                    <li><a href="#">Where are you located?</a></li>
                </ol>

                <div class="well">
                    <h2>Premium Support Available</h2>
                    <p>Cress green bean potato bunya nuts water chestnut chicory rock melon jícama lotus root wattle seed eggplant coriander winter purslane spring onion.</p>
                    <a href="#" class="btn btn-primary">Start Now</a>
                    <div class="clearfix"></div>
                </div>

                <h2>Popular Topics</h2>
                <div class="row-fluid" style="text-align: center;">
                    <div class="pull-left" style="width: 25%">
                        <p><a href="#" class="btn" style="width: 92px;">Your Account</a></p>
                        <p><a href="#" class="btn" style="width: 92px;" >Past Orders</a></p>
                        <p><a href="#" class="btn" style="width: 92px;">Your Profile</a></p>
                    </div>
                    <div class="pull-left" style="width: 25%">
                        <p><a href="#" class="btn" style="width: 92px;">Your Account</a></p>
                        <p><a href="#" class="btn" style="width: 92px;">Past Orders</a></p>
                        <p><a href="#" class="btn" style="width: 92px;">Your Profile</a></p>
                    </div>
                    <div class="pull-left" style="width: 25%">
                        <p><a href="#" class="btn" style="width: 92px;">Your Account</a></p>
                        <p><a href="#" class="btn" style="width: 92px;">Past Orders</a></p>
                        <p><a href="#" class="btn" style="width: 92px;">Your Profile</a></p>
                    </div>
                    <div class="pull-left hidden-phone" style="width: 25%">
                        <p><a href="#" class="btn" style="width: 92px;">Your Account</a></p>
                        <p><a href="#" class="btn" style="width: 92px;">Past Orders</a></p>
                        <p><a href="#" class="btn" style="width: 92px;">Your Profile</a></p>
                    </div>
                    <div class="clearfix"></div>
            </div>

            <h2>Some Helpful Information</h2>
            <p>Catsear corn gumbo leek chickpea summer purslane chicory. Taro azuki bean broccoli rabe soybean endive chicory. Pumpkin salsify horseradish avocado cabbage tomatillo ricebean caulie turnip greens eggplant.</p>

            <p>Sweet pepper pea sprouts mung bean cabbage radicchio silver beet coriander lentil groundnut jícama wattle seed black-eyed pea chicory broccoli rabe bamboo shoot. Kombu garlic watercress garbanzo squash plantain amaranth wattle seed tomatillo tigernut.</p>

            <h2>Some More Things To Know</h2>
            <p>Scallion burdock silver beet water spinach turnip watercress aubergine. Komatsuna scallion bush tomato prairie turnip amaranth cress fennel parsnip plantain rutabaga lettuce chickweed radish. Yarrow bell pepper radish tomatillo avocado brussels sprout leek garlic salad pea sprouts sorrel courgette chickweed courgette carrot fennel cress lotus root.</p>
        </div>
        <div class="span3">
            <div class="toc">
                <h3>More Topics</h3>
                <ol>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Billing</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Your Account</a></li>
                </ol>
            </div>
            <div class="toc">
                <h3>Contact Us</h3>
                <h4>By Phone</h4>
                <p>+1-123-333-4321</p>
                <h4>By Email</h4>
                <p><a href="#">hello@example.com</a></p>
                <h4>Address</h4>
                <address>
2817 S 49th<br>
Apt 314<br>
San Jose, CA 95101
</address>
                <div>
                    <button class="btn"><i class="icon-facebook"></i></button>
                    <button class="btn"><i class="icon-twitter"></i></button>
                    <button class="btn"><i class="icon-linkedin"></i></button>
                    <button class="btn"><i class="icon-google-plus"></i></button>
                    <button class="btn"><i class="icon-pinterest"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
