---
menukey: mobile
header_text: Responsive Layout
menu_expand: dashboard
---

<%content_for :subnav do%>
<%=partial 'dashboard-navigation'%>
<%end%>

<h2>Responsive Layout<span class="info">Works seamlessly with tablets and phones.</span></h2>

<div class="phone" style="width: 500px; margin: 0px auto; height: 940px; background-image: url('images/phone.png'); background-repeat: no-repeat;">
    <iframe class="mobile-preview" style="position: relative; left: 50px; top: 150px;" src="index.html" width="401" height="580" frameborder="0"></iframe>
</div>

